* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.wrapper {
    background: linear-gradient(to left, #8942a8, #ba382f);
    height: 100%;
    width: 100%;
    padding-bottom: 15rem;
    position: relative;
}

.title {
    width: 100%;
}

/*Loader*/
.loader {
    border: 12px solid #f3f3f3;
    /* Light grey */
    border-top: 12px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Side bar */
#sidebarCollapse {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 2;
}

#sidebarCollapse:hover {
    color: white;
}

.total-qty {
    position: fixed;
    height: 18px;
    width: 18px;
    background: white;
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 1rem;
    font-weight: 600;
    top: 22px;
    right: 22px;
    user-select: none;
    z-index: 3;
}

#sidebar {
    width: 60vw;
    position: fixed;
    top: 0;
    right: -60vw;
    height: 100%;
    z-index: 999;
    background: #000;
    color: #fff;
    transition: all 0.5s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: black;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#dismiss:hover {
    background: #fff;
    color: black;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: black;
}

/* Overlay */
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.overlay.active {
    display: block;
}

/* Cart items */
.cart-items {
    display: flex;
    width: 90%;
    margin: 0 5%;
    height: 50%;
    flex-direction: column;
}

.cart-img {
    width: 5rem;
    height: 5rem;
    justify-content: center;
}

.cart-item img {
    width: 100%;
    align-self: center;
}

.qty-change {
    justify-content: space-evenly;
    align-items: baseline;
}

.btn-qty {
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px 5px;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.qty {
    padding: 2px 5px;
}

.btn-qty:hover,
.add-btn:hover {
    background: white;
    color: black;
}

.trash {
    background-color: #32383e;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

.trash:hover i {
    color: red;
}

.table td {
    vertical-align: middle;
}

/* Products card */

.card {
    border-radius: 20px;
    background: white;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
}

.products__item {
    margin-top: 30px;
}

.products__item img {
    height: 200px;
    width: 200px;
    margin: auto;
    padding: 10px;
}

.card-body {
    background-color: #2e2f33;
    color: white;
    border-radius: 20px;
}

.product__type {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 25px;
    color: black;
}

.add-btn {
    border-radius: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 6px 10px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

@media screen and (max-width: 992px) {
    .selectLoaiSP {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .selectLoaiSP {
        width: 100%;
    }

    #sidebar {
        width: 100vw;
        right: -100vw;
    }
}